.post {
  margin: 0 calc(10%);
  background-color: #17222E;
  padding: 16px 16px;
  text-align: center;
  min-height: 85vh;
  color: white;
  opacity: 95%;
}

.post > p {
  text-align: justify;
}

.post p {
  text-align: justify;
  margin: 24px 16px;
}

.post a {
  font-weight: bold;
}

.post a:hover{
  text-decoration: underline;
}
