.blog-wrapper {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



@media screen and (max-width: 992px) {
  .blog-wrapper {
    grid-template-columns: 1fr;
  }
}



.blog-tile{
  background-color: #17222E;
  margin: 0px calc(10%);
  padding: 16px 16px;
  border-radius: 8px;
  opacity: 95%
}

.blog-tile:hover{
  opacity: 100%;
  filter: brightness(110%);
}

.blog-text{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blog-text > p {
  text-align: justify;
}

// .blog-info{
//   display: flex;
//   flex-direction: column;
// }

// .blog-info p {
//   font-size: 1rem;
// }
