.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 calc(10%);
    padding: 8px;
    margin-top: auto;
    margin-top: 12px;
    border-radius: 8px;
}

.footer > p {
  color: white;
  text-align: center;
}

.footer > a {
  color: white;
  font-size: calc(2rem);
}

.footer svg {
  display: inline-flex;
  align-self: center;
}


.footer a {
  display: inline-flex;
  align-self: center;
}

.footer a:hover {
  color: #B537F2;
}
