.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
}

.tags p {
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: bold;
}

.Learning-to-Code {
  background-color: hsl(179deg, 72%, 50%);
  color: hsl(0deg 0% 16%);
}

.Career-Change {
  background-color: hsl(345deg, 100%, 73%);
  color: hsl(0deg, 0%, 100%, 0.87);
}

.Javascript {
  background-color: hsl(53deg, 88%, 65%);
  color: hsl(0deg 0% 16%);
}

.CSS {
  background-color: hsl(16.1deg, 100%, 65.7%);
  color: hsl(0deg 0% 16%);
}

.HTML{
  background-color: hsl(12, 88%, 56%);
  color: hsla(0deg, 0%, 100%, 0.87);
}

.Ruby {
  background-color: hsla(338, 95%, 56%);
  color: hsla(0deg, 0%, 100%, 0.87);
}

.Notion {
  // background-color: hsl(45, 8%, 20%);
  // color: hsla(0deg, 0%, 100%, 0.87);
  // border-style: solid;
  // border-color: hsla(0deg, 0%, 100%, 0.87);
  // border-width: 1px;
  max-height: 2.5rem;
  border-radius: 8px;
  opacity: 0.87
}

.Spotfire {
  background-color: hsla(262, 100%, 31%);
  color: hsla(0deg, 0%, 100%, 0.87);
}

.Python {
  background-color: hsla(207, 51%, 24%);
  color: hsla(0deg, 0%, 100%, 0.87);
}
