.navbar-wrapper{
  padding-top: 16px;
  display: flex;
  margin: 0 calc(10%);
  font-size: 1.2rem;
  vertical-align: baseline;
  margin-bottom: 24px;
}

.navbar{
  list-style-type: none;
  display: flex;
  gap: 24px;
}


.navbar li a {
  opacity: 80%;
  font-size: 1.1rem;
  line-height: 28.8px;
}
