// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import 'components/footer';
@import 'components/header';
@import 'components/toolbar';
@import 'components/homepage';
@import 'components/icons';
@import 'components/blog';
@import 'components/blogpost';
@import 'components/tags';

// COMEAU CSS RESET
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6, li {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

* {
  font-family: 'Nunito', sans-serif;
}

// GENERAL SELECTORS
h2 {
  font-size: calc(2rem);
  text-align: center;
  color: white;
}

h3 {
  font-size: calc(1.5rem);
  color: white;
}

h4 {
  font-size: calc(1.25rem);
  color: white;
}

.link-bar{
  display: flex;
  justify-content: center;
  gap: 16px;
}

p{
  font-size: calc(1.1875rem);
  color: white;
  text-align: center;
}


a{
  text-decoration: none;
  color: white;
}

// MISC
body {
  background-color: #0E141B;
}

.tile {
  background-color: #ED303C;
  height: 600px;
  width: 400px;
  border-radius: 16px;
  font-size: 18px;
}
