// COMEAU CSS RESET
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

// HEADER
h1 {
  color: hsl(255, 85%, 30%);
  font-size: calc(2.5rem);
}

h2 {
  font-size: calc(2rem);
}

h3 {
  color: purple;
}

.main-wrapper{
  text-align: center;
  margin: 0 40px;
}

.link-bar{
  display: flex;
  justify-content: center;
  gap: 16px;
}

.p{
  font-size: calc(1.1875rem);
}


// BLOG POSTS ON HOMEPAGE TO MAKE INTO SEPARATE COMPONENT
.tile-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
  margin-top: 24px;
}


.tile-wrapper  > div {
  background-color: #ED303C;
  height: 600px;
  width: 400px;
  border-radius: 16px;
  font-size: 18px;
}
